aside {
  width: 200px;
}
aside.hidden {
  display: none;
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
aside nav a {
  text-decoration: none;
  color: black;
  background-color: #dadada;
  padding: 8px;
}
aside nav a:hover {
  background-color: #afafaf;
}

@media (min-width: 768px) {
  aside {
    display: block !important;
  }
}
