section.learnMore {
  background-image: url(../images/mac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  color: white;
  padding: 48px;

  min-height: calc(100vh - 51px);
  font-size: 18px;
  position: relative;
}

section.learnMore > h1 {
  font-size: 64px;
}
section.learnMore > p {
  margin-bottom: 48px;
}
section.learnMore > a {
  text-decoration: none;
  color: black;
  background-color: rgba(204, 204, 204, 0.5);
  padding: 16px 24px;
}
section.learnMore > a:hover {
  background-color: rgb(204, 204, 204);
}
section.learnMore > div.mediaIcons {
  position: absolute;
  left: 48px;
  bottom: 32px;
}
section.learnMore > div.mediaIcons > i {
  color: gray;
}
section.learnMore > div.mediaIcons > i:hover {
  opacity: 0.5;
}
